/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */
body {
  padding-left: 0.5rem;
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
  body {
    padding-left: 0;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 18px;
  }
}

.sr-only {
  // will be properly styled in the non-essential part
  display: none;
}

.theme-base-08 .sidebar {
//  background-color: #90a959;
}
//.theme-base-08 .content a,
.theme-base-08 .related-posts li,
.theme-base-08 .page-title,
.theme-base-08 .post-title,{
  color: #303030;
}

.post-title,{
  family-font: "Roboto Slab";
}

